[virtual_sdcard]
path: /home/ykz/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

## ----------------------------------------
## MCU Setup
## ----------------------------------------

[mcu]
# run the following command to locate the uuid:
# ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_uuid: dfa49837feda

[mcu EBBCan]
canbus_uuid: 268805f0659c

[mcu cartographer]
canbus_uuid: e3fe63bf9de4

## ----------------------------------------
## Macros
## ----------------------------------------
[include mainsail.cfg]
[auto_speed]

[display_status]
[pause_resume]
[exclude_object]
[respond]
[gcode_arcs]
[include macros/*]

[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2
microsteps: 16
gear_ratio: 50:10
rotation_distance: 21.467000
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:PB13
sensor_type: Generic 3950
sensor_pin: EBBCan:PA3
min_temp: 0
max_temp: 300
max_power: 0.8
max_extrude_only_distance: 110
max_extrude_cross_section: 5
pressure_advance_smooth_time: 0.050
min_extrude_temp: 0
sensor_type: Generic 3950
heater_pin: EBBCan:PB13
sensor_type: Generic 3950
sensor_pin: EBBCan:PA3

[filament_switch_sensor filament_sensor_bottom]
switch_pin: ^EBBCan:PB5
pause_on_runout: False
event_delay: 3.0
pause_delay: 0.5
check_on_print_start: true
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected

[filament_switch_sensor filament_sensor_top]
switch_pin: ^EBBCan:PB6
pause_on_runout: False
event_delay: 3.0
pause_delay: 0.5
check_on_print_start: true
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected

[idle_timeout]
timeout: 1800

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_z_velocity: 15
max_z_accel: 50

####################################################################
## STEPPER CONFIGURATIONS
####################################################################

## Stepper X configuration
## ----------------------------------------
[stepper_x]
##  B Stepper - Left - [X in MOTOR1] - B Motor
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
endstop_pin: ^EBBCan:PB8

rotation_distance: 32
microsteps: 16
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
position_min: 0

position_endstop: 180
position_max: 180

homing_speed: 25  
homing_retract_dist: 5
homing_positive_dir: true

# Stepper X UART config
# ----------------------------------------
[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc stepper_x]
motor: moons-ms14hs5p4150 

## Stepper Y configuration
## ----------------------------------------
[stepper_y]
##  A Stepper - Right - [Y in MOTOR2] - A Motor
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
endstop_pin: ^PF4

rotation_distance: 32
microsteps: 16
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
position_min: 0

position_endstop: 185
position_max: 185

homing_speed: 25  
homing_retract_dist: 5
homing_positive_dir: true

# Stepper Y UART config
# ----------------------------------------
[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 0.8        # For V0.1 spec NEMA14 40Ncm
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc stepper_y]
motor: moons-ms14hs5p4150  

## Z Stepper - Front Left on MOTOR3_A
## ----------------------------------------
[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
endstop_pin: probe:z_virtual_endstop

rotation_distance: 8    # For T8x8 integrated lead screw
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
homing_speed: 8.0 
second_homing_speed: 3
homing_retract_dist: 0

##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
# position_endstop:   # cartographer needs this to be commented out

# All builds use same Max Z
position_max: 150
position_min: -5

# Stepper Z UART config
# ----------------------------------------
[tmc2209 stepper_z]
uart_pin: PB9
run_current: 0.2         # For V0.1 spec NEMA17 OMC 17LS13-0404E-200G 0.4A 
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc stepper_z]
motor: moons-le174s-t0808-200-ar3-s-065

## Z1 Stepper - Rear on Motor5
## ----------------------------------------
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15

rotation_distance: 8    # For T8x8 integrated lead screw
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

# Stepper Z UART config
# ----------------------------------------
[tmc2209 stepper_z1]
uart_pin: PG14
run_current: 0.2         # For V0.1 spec NEMA17 OMC 17LS13-0404E-200G 0.4A 
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc stepper_z1]
motor: moons-le174s-t0808-200-ar3-s-065

## Z2 Stepper - Front Right on Motor6
## ----------------------------------------
[stepper_z2]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11

rotation_distance: 8    # For T8x8 integrated lead screw
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

# Stepper Z2 UART config
# ----------------------------------------
[tmc2209 stepper_z2]
uart_pin: PG10
run_current: 0.2         # For V0.1 spec NEMA17 OMC 17LS13-0404E-200G 0.4A 
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc stepper_z2]
motor: moons-le174s-t0808-200-ar3-s-065

####################################################################
## EXTRUDER CONFIGURATIONS
####################################################################

[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2
heater_pin: EBBCan:PB13
sensor_type: Generic 3950
sensor_pin: EBBCan:PA3

rotation_distance: 22.23
gear_ratio: 50:10
microsteps: 32

full_steps_per_rotation: 200  #1.8deg Motor
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
pullup_resistor: 4700
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: -150
max_temp: 350

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: EBBCan:PA15
stealthchop_threshold: 0
run_current: 0.6
sense_resistor: 0.110

[autotune_tmc extruder]
motor: moons-cse14hra1l410a

####################################################################
## FAN CONFIGURATIONS
####################################################################

# Hotend fan
# ----------------------------------------
[heater_fan hotend_fan]
pin: EBBCan:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_pin: ^EBBCan:PB7
tachometer_ppr: 2
tachometer_poll_interval: 0.0009

# Part cooling fan
# ----------------------------------------
[fan]
pin: EBBCan:PA1
kick_start_time: 0.5
cycle_time: 0.15

# Electronics bay cooling fan
# ----------------------------------------
[controller_fan electronics_fan]
pin: PF7
max_power: 0.6
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2

####################################################################
## TEMPERATURE CONFIGURATIONS
####################################################################

# Compute module
# ----------------------------------------
[temperature_sensor CM]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

# Toolhead board
# ----------------------------------------
[temperature_sensor EBB36]
sensor_type: temperature_mcu

[temperature_sensor top]
sensor_type: Generic 3950
sensor_pin: PC4
max_temp: 80

[temperature_sensor bottom]
sensor_type: Generic 3950
sensor_pin: PC5
max_temp: 80

[temperature_sensor chamber]
sensor_type: temperature_combined
sensor_list: temperature_sensor top,temperature_sensor bottom
combination_method: mean
maximum_deviation: 100

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

####################################################################
## MISC CONFIGURATIONS
####################################################################

# Bed heater
# ----------------------------------------
[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PA7
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


####################################################################
## Z TILT CONFIGURATION
####################################################################

[z_tilt]
z_positions:
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the XY position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
    # For 180 build
    -50, -13
    90, 217
    213, -13


points:
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
    # For 180 build
    20, 10
    90, 135
    160, 10


speed: 250
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 15
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.0075
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.



####################################################################
## BED MESH CONFIGURATION
####################################################################

[bed_mesh]
zero_reference_position: 90, 90 # The centre of your bed. 
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
speed: 300

#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
horizontal_move_z: 3

#   Defines the minimum x,y coordinate of the mesh for rectangular
#   beds. This coordinate is relative to the probe's location. This
#   will be the first point probed, nearest to the origin. This
#   parameter must be provided for rectangular beds.
mesh_min:
    10, 10

#   Defines the maximum x,y coordinate of the mesh for rectangular
#   beds. Adheres to the same principle as mesh_min, however this will
#   be the furthest point probed from the bed's origin. This parameter
#   must be provided for rectangular beds.
mesh_max:
    170, 160  # For 180 build


####################################################################
## PERSONAL CONFIGURATIONS
####################################################################

[safe_z_home]
home_xy_position: 90, 80 # This should be for the CENTRE OF YOUR BED.

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 21.65
verbose: no

# [nevermore]
# # If you're using USB instead of BT, uncomment and specify the correct serial device.
# # WARNING: Make sure it's the `-if02` interface, not `-if00`.
# serial: /dev/serial/by-id/usb-Nevermore_Filter_waveshare-rp2040-touch-lcd-1.28_415034423931340B-if02

# # These `fan_power_*` entries are for a DELTA BFB0712HF (StealthMax BOM)
# # If you have a different fan then play with these numbers to the satisfaction.
# # See full config documentation for details.
# # (e.g. See `fan_power_automatic` if you'd prefer very quiet background filtering.)
# fan_power_coefficient: 0.8  # lower max power to keep things much more quiet

# # If the fan isn't a DELTA BFB0712HF (StealthMax BOM), you'll probably want to add
# #   fan_power_minimum: ???
# #   fan_power_kick_start_minimum: ???
# # See full-doc for details and some common values.
# fan_power_minimum: 0.175
# fan_power_kick_start_minimum: 0.18
# fan_policy_cooldown: 900

# print_mode_min_bed_target: 45

[adxl345]
#carto
# cs_pin: cartographer:PA3
# spi_bus: spi1
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
   90, 90, 35
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

[shaketune]
[axis_twist_compensation]
calibrate_start_x: 30
calibrate_end_x: 150
calibrate_y: 80
calibrate_start_y: 20
calibrate_end_y: 120
calibrate_x: 80

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5207263746674073,1.994489791941065,0.8329828863364576,0.40504979161369403,0.44028569402122686,0.39592397891896264,-0.27952946311952864,-0.3255793257302989,0.2876971240667295,0.2334986432223227
#*# domain = 3.284699651873944e-07,3.416060568510447e-07
#*# z_offset = 0
#*# reference_temperature = 26.14
#*# software_version = 1.4.2
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 715
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.4.2
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 60.396
#*# pid_ki = 2.890
#*# pid_kd = 315.568
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 245.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 31.056
#*# pid_ki = 10.352
#*# pid_kd = 23.291
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.486751, 0.492928, -0.336770, -0.309916, -0.332992
#*# compensation_start_x = 30.0
#*# compensation_end_x = 150.0
